* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center
}

#navbar {
  margin: 0;
  position: fixed;
  text-align: right;
}

nav ul {
  position: fixed;
  width: 100%;
  background-color: #ffdab9;
  margin-top: 0px;
  height: 60px;
}

ul li a:link {
  text-decoration: none;
}

ul li a:hover {
  color: white;
}

nav ul li {
  display: inline-block;
  margin: 10px;
  margin-right: 90px;
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 18px;
}

nav ul li a {
  color: black;
}

#welcome-section {
  top: 0;
  background-color: #ffdab9;
  height: 65vh;
  padding-top: 45vh;
  min-height: 50vh;
}

#about-section {
  display: inline-block;
  padding: 30px;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #f0fff0;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
}

#projects {
  background-color: white;
  width: 80%;
  display: inline-block;
}

.project-tile {
  box-shadow: 10px 10px 5px grey;
  margin-top: 40px;
  margin-left: 20px;
  display: inline-block;
  width: 250px;
  height: auto;
}

.project-tile:hover {
  box-shadow: 10px 10px 5px white;
}

.project-pic {
  width: 100%;
}

#profile-link {
  padding: 40px;
}

#contact-section {
  padding: 20px;
  margin-top: 40px;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}